datacenter_name = "meshcloud-k9s-test"
k8s_cluster_name = "test-k8s"
k8s_version      = "1.31.2"
node_pool_name   = "default-pool"
node_count       = 3
cores_count      = 4
ram_size         = 4096
storage_size     = 50
storage_type     = "HDD"
cpu_family       = "INTEL_XEON"
nodeport_http    = 31063
nodeport_https   = 31925
